
@{
    ViewBag.Title = "Congrat";
    Layout = "~/Views/Shared/_NavView.cshtml";
}

<h2>Congrat</h2>
<h3>Thx for Editing/Creating Item</h3>
@Html.ActionLink("Redirect to Product List", "Index", "Product", null, new { @class = "btn btn-default" })
